.container.with_logo
  = link_to image_tag('seminars_logo.png'), root_path
  .usadvisors
    = link_to image_tag('usadvisors_logo_compact.png'), 'http://eb5info.com/', :target => "_blank"

#header  
  #home_nav.container
    = render 'shared/menu'

#logo.container
  .title= pc("HOME header title", "Overseas (EB-5 & FDI) Workshops") 
  .addthis= render :partial => '/shared/addthis'
  .clear
  .slogan= pc("HOME header slogan", "How to bring Overseas Capital to your U.S. Development Projects")
