#main_menu
  = link_to "/" do
    %span#home_link{:class => active_link("home")}
  = link_to "/about" do
    %span#about_link{:class => active_link("about")}
  = link_to "/cities" do
    %span#cities_link{:class => active_link("cities")}
  = link_to "/speakers" do
    %span#speakers_link{:class => active_link("speakers")}
  = link_to "/venue" do
    %span#venue_link{:class => active_link("venue")}
  = link_to "/sponsors" do
    %span#sponsors_link{:class => active_link("sponsors")}
  = link_to '/costs' do
    %span#costs_link{:class => active_link("costs")}
  = link_to "/resources" do
    %span#resources_link{:class => active_link("resources")}
  = link_to "/contact" do
    %span#contact_us_link{:class => active_link("contact")}
  = form_tag '/search', :method => :get, :html => {:style => 'display: inline'} do
    #search_input
      %input{:style => "border:0px;background:transparent;height:28px;", :name => "q"}
    = link_to "", '#', :id => 'search_link'