= add_editor
= editor("#seminar_agenda");
= editor("#seminar_price_full_information");

= error_messages_for :seminar

= simple_form_for [:admin, @city, @seminar], :html => {:multipart => true} do |f|
  = f.input :title
  = f.input :start_on
  = f.input :ends_on
  = f.input :price_short_information, :label => "Price (short)"
  = f.input :agenda
  = f.input :price_full_information, :label => "Price (full information, description)"

  = f.association :speakers, :as => :check_boxes, :collection => Speaker.by_name.all
  = f.association :sponsors, :as => :check_boxes, :collection => Sponsor.by_name.all

  = f.input :tickets_html, :as => :text, :input_html => { :cols => 80, :rows => 8}

  = f.button :submit