%h1 Editing Seminar

%p
  = link_to 'Back', [:admin, @seminar.city, :seminars]
  | |
  = link_to "Manage Panels", [:admin, @seminar, :panels]
  | |
  = link_to "Manage Documents", [:admin, @seminar, :documents]
  | |
  = link_to "View", [@seminar], :target => "_blank"

= render 'form'

%p= link_to 'Back', [:admin, @seminar.city, :seminars]
