%h1.title
  - if defined? @seminar
    #{@seminar.title} Agenda
  - else
    = @page.page_title

.page_sidebar
  %h3 Upcoming Events
  %ul
    - Seminar.upcoming.by_date.each do |seminar|
      = render :partial => '/seminars/seminar_link', :locals => { :seminar => seminar, :active => (@seminar == seminar), :link => agenda_seminar_path(seminar) }


  - if Seminar.past.count > 0
    %br
    %h3 Past Events
    %ul
      - Seminar.past.by_date.each do |seminar|
        = render :partial => '/seminars/seminar_link', :locals => { :seminar => seminar, :active => (@seminar == seminar), :link => agenda_seminar_path(seminar) }

.page_content
  - if defined? @seminar
    - @seminar.panels.by_start_at.each_with_index do |panel, index|
      = render :partial => '/seminars/panel', :locals => { :panel => panel }
      - if index != @seminar.panels.count - 1
        = line "", "no_line"
    .clear

    = line "Agenda"
    .editor_content= @seminar.agenda.html_safe

  - else
    .editor_content= @page.content.html_safe

.clear