= title @page.seo_title
= description @page.seo_description
= keywords @page.seo_keywords

.home_title
  = pc('HOME page MAIN TITLE (after slideshow)')

.united_states_container
  = line "UNITED STATES"
  .city_container
    %table
      %tr
        - @cities_us.each do |city|
          %td
            .city
              = city.name
              .city_img= link_to (image_tag city.photo(:medium)), city
  .clear

.clear

.international_container
  = line "INTERNATIONAL"
  .city_container
    %table
      %tr
        - @cities_in.each do |city|
          %td
            .city
              = city.name
              .city_img= link_to (image_tag city.photo(:medium2)), city
  .clear
  
.home_text
  = pc('HOME page MAIN TITLE content (after slideshow)')
  
.home_page_description
  = pc('HOME page home_page_description')

.testimonials
  - Testimonial.randomiza.limit(2).each_with_index do |testimonial, index|
    .testimonial{:class => index == 0 ? 'first' : ''}
      .testimonial_block
        .testimonial_content
          .quote= image_tag 'quote.png'
          = truncate_html testimonial.content, :length => 150
          = link_to 'read more', '/testimonials', :class => 'normal_text'
          .clear
        .testimonial_author= testimonial.author
