- if defined? @page
  = title @page.seo_title
  = description @page.seo_description
  = keywords @page.seo_keywords

- elsif defined? @city
  = title "#{@city.name} Speakers"
  = description "#{@city.name} Speakers"
  = keywords "#{@city.name} Speakers"

- elsif defined? @seminar
  = title "#{@seminar.title} Speakers"
  = description "#{@seminar.title} Speakers"
  = keywords "#{@seminar.title} Speakers"

= render :partial => '/home/speakers'

%h1.title
  - if defined? @seminar
    #{@seminar.title} Speakers (#{@speakers.size})
  - if defined? @city
    #{@city.name} Speakers (#{@speakers.size})
  - elsif defined? @page
    = @page.page_title

.full_page_content
  .speakers
    - if defined? @seminar
      - @seminar.speakers.each do |speaker|
        = render :partial => '/speakers/speaker', :locals => { :speaker => speaker }
    - else
      - @speakers.each do |speaker|
        = render :partial => '/speakers/speaker', :locals => { :speaker => speaker }

.clear    