%h1.title
  - if defined? @seminar
    #{@seminar.title} Sponsors
  - else
    = @page.page_title

.page_sidebar
  %h3 Upcoming Events
  %ul
    - Seminar.upcoming.by_date.each do |seminar|
      = render :partial => '/seminars/seminar_link', :locals => { :seminar => seminar, :active => (@seminar == seminar), :link => sponsors_seminar_path(seminar) }

  - if Seminar.past.count > 0
    %br
    %h3 Past Events
    %ul
      - Seminar.past.by_date.each do |seminar|
        = render :partial => '/seminars/seminar_link', :locals => { :seminar => seminar, :active => (@seminar == seminar), :link => sponsors_seminar_path(seminar) }

.page_content
  - if defined? @seminar
    .sponsors      
      - @seminar.sponsors.each do |sponsor|
        = render :partial => '/sponsors/sponsor', :locals => { :sponsor => sponsor }
  - else
    .sponsors
      - @sponsors.each do |sponsor|
        = render :partial => '/sponsors/sponsor', :locals => { :sponsor => sponsor }

.clear