- if defined? @page
  = title @page.seo_title
  = description @page.seo_description
  = keywords @page.seo_keywords

- elsif defined? @city
  = title "#{@city.name} Sponsors"
  = description "#{@city.name} Sponsors"
  = keywords "#{@city.name} Sponsors"

- elsif defined? @seminar
  = title "#{@seminar.title} Sponsors"
  = description "#{@seminar.title} Sponsors"
  = keywords "#{@seminar.title} Sponsors"

= render :partial => '/home/sponsors'

%h1.title
  - if defined? @seminar
    #{@seminar.title} Sponsors (#{@sponsors.size})
  - if defined? @city
    #{@city.name} Sponsors (#{@sponsors.size})
  - elsif defined? @page
    = @page.page_title

.full_page_content
  .sponsors
    - if defined? @seminar
      - @seminar.sponsors.each do |sponsor|
        = render :partial => '/sponsors/sponsor', :locals => { :sponsor => sponsor }
    - else
      - @sponsors.each do |sponsor|
        = render :partial => '/sponsors/sponsor', :locals => { :sponsor => sponsor }

.clear    