= add_editor
= editor("#speaker_about");

= error_messages_for :speaker

= simple_form_for [:admin, @speaker], :html => {:multipart => true} do |f|
  = f.input :name
  = f.input :position
  = f.input :about
  = f.input :photo
  = f.input :website
  = f.input :email
  = f.input :priority
  = f.association :languages, :as => :check_boxes
  = f.association :practice_areas, :as => :check_boxes

  = f.input :firm
  = f.input :contact_phone
  = f.input :skype
  = f.input :country
  = f.input :address
  = f.input :city
  = f.input :zip
  = f.input :linked_in
  = f.input :twitter
  = f.input :facebook

  = f.button :submit
