.page_sidebar
  .sponsor_contacts
    %h3 CONTACT INFORMATION
    %dl
      %dd
        = @sponsor.firm
      - if @sponsor.contact_phone.present?  
        %dd 
          = @sponsor.contact_phone    

    %h3 ADDRESS
    %dl
      %dd
        = @sponsor.address
      %dd
        #{@sponsor.city}, #{@sponsor.zip}
      %dd
        = @sponsor.country
    %dl 
      - if @sponsor.website.present?  
        %dt Website    
        %dd.link_br
          = link_to @sponsor.website
      - if @sponsor.twitter.present?      
        %dt Contact Email
        %dd.link_br
          = mail_to @sponsor.email
      - if @sponsor.skype.present?  
        %dt Skype 
        %dd 
          = @sponsor.skype
      - if @sponsor.linked_in.present?    
        %dt Linked in
        %dd.link_br 
          = link_to @sponsor.linked_in
      - if @sponsor.twitter.present?    
        %dt Twitter
        %dd
          = @sponsor.twitter
      - if @sponsor.facebook.present?      
        %dt Facebook
        %dd.link_br
          = link_to @sponsor.facebook       

.page_content
  = render :partial => '/sponsors/sponsor', :locals => { :sponsor => @sponsor }

.clear