.page_sidebar
  CONTACT INFORMATION
  %br
  = @sponsor.firm
  %br
  = @sponsor.contact_phone
  %br
  ADDRESS
  %br
  = @sponsor.address
  %br
  #{@sponsor.city}, #{@sponsor.zip}
  %br
  = @sponsor.country
  %br
  Web Site
  %br
  = @sponsor.country
  %br
  Contact Email
  %br
  = @sponsor.email
  %br
  
  = @sponsor.skype
  %br
  = @sponsor.linked_in
  %br
  = @sponsor.twitter
  %br
  = @sponsor.facebook
.page_content
  = render :partial => '/sponsors/sponsor', :locals => { :sponsor => @sponsor }

.clear