= title @sponsor.seo_title
= description @sponsor.seo_description

= content_for :on_ready do
  $('#details').tab('show');

.page_sidebar
  .sponsor_contacts
    %h3 CONTACT INFORMATION
    %dl
      %dd
        = @sponsor.firm
      - if @sponsor.contact_phone.present?  
        %dd 
          = @sponsor.contact_phone    

    %h3 ADDRESS
    %dl
      %dd
        = @sponsor.address
      %dd
        #{@sponsor.city}, #{@sponsor.zip}
      %dd
        = @sponsor.country
    %dl 
      - if @sponsor.website.present?  
        %dt Website    
        %dd.link_br
          = link_to @sponsor.website, httpize(@sponsor.website)
      - if @sponsor.twitter.present?      
        %dt Contact Email
        %dd.link_br
          = mail_to @sponsor.email
      - if @sponsor.skype.present?  
        %dt Skype 
        %dd 
          = @sponsor.skype
      - if @sponsor.linked_in.present?    
        %dt Linked in
        %dd.link_br 
          = link_to @sponsor.linked_in, httpize(@sponsor.linked_in)
      - if @sponsor.twitter.present?    
        %dt Twitter
        %dd
          = @sponsor.twitter
      - if @sponsor.facebook.present?      
        %dt Facebook
        %dd.link_br
          = link_to @sponsor.facebook, httpize(@sponsor.linked_in)       

.page_content
  #details.tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#s1"} About
      %li
        %a{"data-toggle" => "tab", :href => "#s2"} Seminars

    .tab-content
      #s1.tab-pane.active
        - if @sponsor.logo.exists?
          = image_tag @sponsor.logo.url(:medium), :class => 'about_photo'
        %h1.title= @sponsor.name
        = @sponsor.description.html_safe
        .clear

      #s2.tab-pane.page_sidebar.full_page_view
        - if @sponsor.seminars.any?
          %h3 Sponsor of:
          %ul
            - @sponsor.seminars.each do |seminar|
              = render :partial => '/seminars/seminar_link', :locals => { :seminar => seminar, :active => (@seminar == seminar), :link => seminar }
.clear