= add_editor
= editor("#sponsor_description");

= error_messages_for :sponsor

= simple_form_for [:admin, @sponsor], :html => {:multipart => true} do |f|
  = f.input :name
  = f.input :logo
  = f.input :description
  = f.input :website
  = f.input :email
  = f.input :priority

  = f.input :contact_phone
  = f.input :skype
  = f.input :country
  = f.input :address
  = f.input :city
  = f.input :zip
  = f.input :linked_in
  = f.input :twitter
  = f.input :facebook

  = f.association :languages, :as => :check_boxes
  = f.association :practice_areas, :as => :check_boxes
 
  = f.button :submit