%h1 Listing Cities

- if @cities.any?

  %table.zebra
    %tr
      %th Name
      %th Country
      %th Seminars
      %th Actions

    - @cities.each do |city|
      %tr
        %td= link_to city.name, [:edit, :admin, city]
        %td= city.country
        %td= city.seminars.count
        %td
          = link_to "Manage Seminars", [:admin, city, :seminars]
          | |
          = link_to "View", [city]
          | |
          = link_to 'Delete', [:admin, city], :confirm => 'Are you sure?', :method => :delete
  %br

- else
  %p No cities.  

= link_to 'Add City', [:new, :admin, :city]