%h1.with_spacer.title #{@city.name} Seminars

%ul.city_seminars
  - @city.seminars.from_new_to_old.each do |seminar|
    %li
      .title
        %h2.inline= link_to seminar.title, seminar
      = line seminar.event_range, 'bigger'
      %ul.details
        - if seminar.panels.count > 0
          %li.smaller
            %strong Panels
            %ul.details_list.panels
              - seminar.panels.each do |panel|
                %li= panel.title

        %li.bigger{:class => seminar.panels.count == 0 ? 'very_big' : ''}
          %strong Sponsors
          %ul.details_list.sponsors
            - seminar.sponsors.with_logo.each do |sponsor|
              %li= link_to (image_tag(sponsor.logo.url(:thumb))), sponsor

        %li.smaller
          %strong Speakers
          %ul.details_list.speakers
            - seminar.speakers.with_photo.each do |speaker|
              %li= link_to (image_tag(speaker.photo.url(:thumb))), speaker

      .clear
    .clear

.clear   
