= title "#{@city.name} Seminars"

%h1.with_spacer.title #{@city.name} Seminars

%ul.city_seminars
  - @city.seminars.from_new_to_old.upcoming.each do |seminar|
    %li
      .title
        %h2.inline= link_to seminar.title, seminar
      = line seminar.event_range, 'bigger'
      %ul.details
        %li
          %strong Panels
          %ul.details_list.panels
            = render :partial => '/cities/seminar_details', :locals => { :seminar => seminar }

          %ul.final_steps
            %li
              %span.price Price: #{seminar.price_short_information}
            %li= link_to 'Registration', seminar_path(seminar, :anchor => 'registration'), :class => 'btn btn-large btn-danger register_button'

        %li
          = render :partial => '/cities/common', :locals => { :seminar => seminar }

      .clear
    .clear

.clear

- if @city.seminars.from_new_to_old.past.count > 0
  %h2 Past Seminars

  %ul.city_seminars
    - @city.seminars.from_new_to_old.past.each do |seminar|
      %li
        .title
          %h2.inline= link_to seminar.title, seminar
        = line seminar.event_range, 'bigger'
        %ul.details
          %li
            %strong Panels
            %ul.details_list.panels
              = render :partial => '/cities/seminar_details', :locals => { :seminar => seminar }

          %li
            = render :partial => '/cities/common', :locals => { :seminar => seminar }

        .clear
      .clear

  .clear

