.panel
  %h3.panel_title.inline= panel.title
  = image_tag 'calendar2.png', :class => 'icon'
  %span= panel.date
  = image_tag 'clock2.png', :class => 'icon'
  %span= panel.time

  .panel_content!= panel.description

  - if panel.speakers.with_photo.count > 0
    %strong.panel_title Panel Speakers:
    %ul.panel_speakers
      - panel.speakers.with_photo.each do |speaker|
        %li
          = link_to (image_tag(speaker.photo.url(:thumb3x))), speaker
          %span= link_to speaker.name, speaker

    .clear

  - if panel.sponsors.with_logo.count > 0
    %strong.panel_title Panel Sponsors:
    %ul.panel_sponsors
      - panel.sponsors.with_logo.each do |sponsor|
        %li
          = link_to (image_tag(sponsor.logo.url(:thumb3x))), sponsor
          %span= link_to sponsor.name, sponsor
  .clear