= title @seminar.title
= description @seminar.agenda

= content_for :on_ready do
  window.open_last_tab = function() { $('ul.nav-tabs li:last a').trigger('click'); }

  $('#seminar_details').tab('show');
  if (window.location.hash == '#registration') window.open_last_tab();

%h1.with_spacer.title.left #{@seminar.title}
= link_to 'Back', @seminar.city, :class => 'btn btn-large back_button'
= link_to 'Registration', 'javascript: window.open_last_tab();', :class => 'btn btn-large btn-danger register_button agenda_button_register_top_seminar_page'
.clear

#seminar_details.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#s1"} Agenda
    %li
      %a{"data-toggle" => "tab", :href => "#s2"} Speakers
    %li
      %a{"data-toggle" => "tab", :href => "#s3"} Sponsors
    %li
      %a{"data-toggle" => "tab", :href => "#s4"} Registation

  .tab-content
    #s1.tab-pane.active
      = @seminar.agenda.html_safe

      - @seminar.panels.by_start_at.each_with_index do |panel, index|
        = render :partial => '/seminars/panel', :locals => { :panel => panel }
        - if index != @seminar.panels.count - 1
          = line "", "no_line"
      .clear

      = link_to 'Back', @seminar.city, :class => 'btn btn-large back_button', :style => 'float: none; margin-top: 0px'
      = link_to 'Registration', 'javascript: window.open_last_tab();', :class => 'btn btn-large btn-danger register_button agenda_button_register_bottom'

    #s2.tab-pane
      .speakers
        %ul
          - @seminar.speakers.each do |speaker|
            %li
              = render :partial => '/speakers/speaker', :locals => { :speaker => speaker }

    #s3.tab-pane
      .sponsors
        %ul
          - @seminar.sponsors.each do |sponsor|
            %li
              = render :partial => '/sponsors/sponsor', :locals => { :sponsor => sponsor }

        
    #s4.tab-pane
      = @seminar.tickets_html.html_safe


