= add_editor
= editor("#panel_description");

= error_messages_for :panel

= simple_form_for [:admin, @seminar, @panel], :html => {:multipart => true} do |f|
  = f.input :title
  = f.input :start_at
  = f.input :description
  = f.association :speakers, :as => :check_boxes, :collection => Speaker.by_name.all
  = f.association :sponsors, :as => :check_boxes, :collection => Sponsor.by_name.all
  = f.button :submit
