%h1 Listing `#{@seminar.title}` Panels

- if @panels.any?
  %table.zebra
    %tr
      %th Title
      %th Time
      %th Speakers
      %th Sponsors
      %th Media
      %th Actions

    - @panels.each do |panel|
      %tr
        %td= link_to panel.title, [:edit, :admin, @seminar, panel]
        %td= panel.start_time
        %td= panel.speakers.count
        %td= panel.sponsors.count
        %td= panel.medians.count
        %td
          = link_to "Photos(#{panel.photos.count})", [:admin, panel, :photos]
          | |
          = link_to "Videos(#{panel.videos.count})", [:admin, panel, :videos]
          | |
          = link_to "Presentations(#{panel.presentations.count})", [:admin, panel, :presentations]
          | |
          = link_to "View", agenda_seminar_path(@seminar)
          | |
          = link_to 'Delete', [:admin, @seminar, panel], :confirm => 'Are you sure?', :method => :delete


  %br

- else
  %p No panels.

= link_to 'Add Panel', [:new, :admin, @seminar, :panel]
| |
= link_to 'Back', [:admin, @seminar.city, :seminars]