.speakers
  .speaker
    .speaker_photo
      - if speaker.photo.exists?
        = link_to image_tag(speaker.photo(:medium), :alt => speaker.name), speaker_path(speaker)
    .speaker_info
      %h1.speaker_name
        = link_to speaker.name, speaker_path(speaker)
      .speaker_about
        %dl
          - unless speaker.position.blank? 
            %dt Position:
            %dd  
              = speaker.position

          - unless speaker.firm.blank?
            %dt Associated With:
            %dd  
              = speaker.firm

          - if speaker.practice_areas_count > 0
            %dt Practice Areas:
            %dd
              = speaker.practice_areas.collect{|e| e.name}.join(", ")

          - if speaker.languages_count > 0
            %dt Languages:
            %dd
              = speaker.languages.collect{|e| e.name}.join(", ")
        .clear

  .clear