.speakers
  .speaker
    .speaker_photo
      //- if speaker.photo.exists?
      //  = link_to image_tag(speaker.photo(:medium), :alt => speaker.name), speaker_path(speaker)
      = link_to image_tag('Michael_Gibson_photo.png', :alt => speaker.name), speaker_path(speaker)
    .speaker_info
      %h1.speaker_name
        = link_to speaker.name, speaker_path(speaker)
      .position
        = speaker.position
      .speaker_about
        =speaker.about.html_safe
        
        %dl
          %dt Associated with 
          %dd  
            = speaker.firm
          %dt Practice areas
          %dd
            = speaker.practice_areas.collect{|e| e.name}.join(", ")
          %dt languages
          %dd
            = speaker.languages.collect{|e| e.name}.join(", ")

  .clear