= title @speaker.seo_title
= description @speaker.seo_description

= content_for :on_ready do
  $('#details').tab('show');

.page_sidebar
  .speaker_contacts

    - if logged_in?
      = link_to 'edit', [:edit, :admin, @speaker], :class => 'edit_button'

    %h3 CONTACT INFORMATION
    %dl
      %dd
        = @speaker.name
      - if @speaker.contact_phone.present?  
        %dd 
          = @speaker.contact_phone
    
    %h3 ADDRESS
    %dl
      %dd
        = @speaker.address
      %dd
        #{@speaker.city}, #{@speaker.zip}
      %dd
        = @speaker.country
    %dl
      - if @speaker.website.present?  
        %dt Website    
        %dd.link_br
          =link_to @speaker.website, httpize(@speaker.website)
      - if @speaker.twitter.present?      
        %dt Contact Email
        %dd.link_br
          = mail_to @speaker.email
      - if @speaker.skype.present?  
        %dt Skype 
        %dd 
          = @speaker.skype
      - if @speaker.linked_in.present?    
        %dt Linked in
        %dd.link_br 
          = link_to @speaker.linked_in, httpize(@speaker.linked_in)
      - if @speaker.twitter.present?    
        %dt Twitter
        %dd
          = @speaker.twitter
      - if @speaker.facebook.present?      
        %dt Facebook
        %dd.link_br
          = link_to @speaker.facebook, httpize(@speaker.facebook)

    %dl 
      %dt Practice Areas
      %dd
        - @speaker.practice_areas.each do |practice_area|
          = practice_area.name
        
      %dt Languages spoken
      %dd
        - @speaker.languages.each do |language|
          = language.name

    %h3 ASSOCIADED WITH 
    %dl
      %dd
        = @speaker.firm
      
    
.page_content
  #details.tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#s1"} About
      %li
        %a{"data-toggle" => "tab", :href => "#s2"} Seminars

    .tab-content
      #s1.tab-pane.active
        - if @speaker.photo.exists?
          = image_tag @speaker.photo.url(:medium), :class => 'about_photo'
        %h1.title.pad= @speaker.name
        = @speaker.about.html_safe
        .clear
        - if @speaker.bio.present?
          %h2 BIO
          = @speaker.bio.html_safe
        .clear

      #s2.tab-pane.page_sidebar.full_page_view
        - if @speaker.seminars.any?
          %h3 Speaker on:
          %ul
            - @speaker.seminars.each do |seminar|
              = render :partial => '/seminars/seminar_link', :locals => { :seminar => seminar, :active => (@seminar == seminar), :link => seminar }
.clear