.page_sidebar
  .speaker_contacts
    %h3 CONTACT INFORMATION
    %dl
      %dd
        = @speaker.name
      - if @speaker.contact_phone.present?  
        %dd 
          = @speaker.contact_phone
    
    %h3 ADDRESS
    %dl
      %dd
        = @speaker.address
      %dd
        #{@speaker.city}, #{@speaker.zip}
      %dd
        = @speaker.country
    %dl
      - if @speaker.twitter.present?  
        %dt Website    
        %dd.link_br
          = link_to @speaker.website
      - if @speaker.twitter.present?      
        %dt Contact Email
        %dd.link_br
          = mail_to @speaker.email
      - if @speaker.skype.present?  
        %dt Skype 
        %dd 
          = @speaker.skype
      - if @speaker.linked_in.present?    
        %dt Linked in
        %dd.link_br 
          = link_to @speaker.linked_in
      - if @speaker.twitter.present?    
        %dt Twitter
        %dd
          = @speaker.twitter
      - if @speaker.facebook.present?      
        %dt Facebook
        %dd.link_br
          = link_to @speaker.facebook  

    %dl 
      %dt Practice Areas
      %dd
        - @speaker.practice_areas.each do |practice_area|
          = practice_area.name
        
      %dt Languages spoken
      %dd
        - @speaker.languages.each do |language|
          = language.name

    %h3 ASSOCIADED WITH 
    %dl
      %dd
        = @speaker.firm      
      
    
.page_content
  .about_content
    - if @speaker.photo.exists?
      = image_tag @speaker.photo.url(:medium), :class => 'about_photo'
    %h1.title= @speaker.name
    = @speaker.about.html_safe
    .clear