!!! XML
!!!

%html
  %head
    %title Admin
    %meta{ 'http-equiv' => 'imagetoolbar', :content => 'no' }
    %meta{ :name => 'distribution', :content => 'global' }
    - if (yield :noindex).blank?
      %meta{ :name => 'robots', :content => 'all' }
    - else
      %meta{ :name => 'robots', :content => 'noindex' }
    %meta{ :name => 'resource-type', :content => 'document' }
    %meta{ :name => 'MSSmartTagsPreventParsing', :content => 'true' }
    <meta content="en_US" http-equiv="Content-Language" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="audience" content="all" />
    <meta name="revisit-after" content="7 days" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="image_src" href="/logo.jpg" />
    = csrf_meta_tag
    = stylesheet_link_tag 'colorbox', 'application'
    = yield :css
    = javascript_include_tag 'jquery-1.5.1.min', 'jquery.rails', 'jquery.colorbox-min', 'application', :cache => 'admin'
    = yield :js
    = yield :map
    = yield :markitup
    %script{:type => 'text/javascript', :charset => 'utf-8'}
      $(document).ready(function() {
      = yield :on_ready
      });
      = yield :inline_js
  %body
    #root.admin_container
      #content
        .container= flash_messages
        .container= render :partial => '/admin/shared/header'
        .container
          = yield
          .page_spacer
      #root_footer
    #footer
      = render :partial => '/shared/footer'